/* Container Section */
.container {
  position: relative;
  text-align: center;
  padding: 100px 20px 20px;
  background: url('https://github.com/Monwabisindlovu/portfolio-landing_page/blob/main/images/IMG-20240903-WA0021.jpg?raw=true') no-repeat center center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: moveBackground 20s linear infinite;
  min-height: 100vh;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(225, 223, 230, 0.5);
  filter: blur(8px);
  z-index: 1;
}

/* Text Layout */
.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}

.image {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(26, 13, 167, 0.1);
}

.text {
  max-width: 600px;
  font-size: 1.2em;
  color: #0f24e2;
  text-align: left;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.statement {
  margin-top: 10px;
}

.link {
  display: block;
  margin-top: 20px;
  color: #0d28c1;
  text-decoration: underline;
}

/* Rotating Word Animation */
.rotatingText {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin-top: 10px;
}

.word {
  position: absolute;
  opacity: 0;
  animation: rotateWords 20s linear infinite;
  font-weight: bold;
  font-size: 1.5rem;
  transform: scale(0.8);
}

.word1 {
  animation-delay: 0s;
  color: goldenrod;
}

.word2 {
  animation-delay: 5s;
  color: black;
}

.word3 {
  animation-delay: 10s;
  color: #1d3557; /* dark blue */
}

.word4 {
  animation-delay: 15s;
  color: #b5179e; /* violet */
}

@keyframes rotateWords {
  0% {
    opacity: 0;
    transform: scale(0.8) rotateX(90deg);
  }
  5% {
    opacity: 1;
    transform: scale(1) rotateX(0deg);
  }
  20% {
    opacity: 1;
    transform: scale(1.05);
  }
  25% {
    opacity: 0;
    transform: scale(0.8) rotateX(-90deg);
  }
  100% {
    opacity: 0;
  }
}

/* Moving Background Animation */
@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: 10px 10px; }
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
  .textContainer {
    flex-direction: column;
  }

  .text {
    font-size: 1em;
    padding: 0 10px;
  }

  .title {
    font-size: 1.5em;
  }

  .image {
    width: 100px;
    margin-bottom: 15px;
  }

  .rotatingText {
    height: 40px;
  }

  .word {
    font-size: 1.2rem;
  }
}
