/* Base Styles */
.container {
  position: relative;
  text-align: center;
  padding: 20px;
  background: url('https://github.com/Monwabisindlovu/portfolio-landing_page/blob/main/images/IMG-20240903-WA0021.jpg?raw=true') no-repeat center center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: moveBackground 20s linear infinite;
  min-height: 100vh;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(225, 223, 230, 0.5);
  filter: blur(8px);
  z-index: 1;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.image {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(26, 13, 167, 0.1);
}

.text {
  max-width: 600px;
  font-size: 1.2em;
  color: #0f24e2;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.rotatingText {
  position: relative;
  height: 50px; /* Ensure this matches the height of the rotating elements */
  overflow: hidden;
}

.rotatingText span {
  display: block;
  height: 50px; /* Ensure this matches the height of the rotating container */
  line-height: 50px; /* Adjust line-height to match height */
  animation: rotateText 10s infinite;
}

@keyframes rotateText {
  0% { transform: translateY(0); }
  20% { transform: translateY(-100%); }
  40% { transform: translateY(-200%); }
  60% { transform: translateY(-300%); }
  80% { transform: translateY(-400%); }
  100% { transform: translateY(0); }
}

@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: 10px 10px; }
}

.link {
  display: block;
  margin-top: 20px;
  color: #0d28c1;
  text-decoration: underline;
}

/* Media Queries for responsiveness */

/* Mobile Devices */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .text {
    font-size: 1em;
    padding: 0 10px;
  }

  .title {
    font-size: 1.5em;
  }

  .image {
    width: 100px;
    margin-right: 10px;
  }

  .rotatingText span {
    height: 40px; /* Adjust height for smaller screens */
    line-height: 40px; /* Adjust line-height */
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    padding: 15px;
  }

  .text {
    font-size: 1.1em;
  }

  .title {
    font-size: 1.75em;
  }

  .image {
    width: 120px;
    margin-right: 15px;
  }

  .rotatingText span {
    height: 45px; /* Adjust height for tablets */
    line-height: 45px; /* Adjust line-height */
  }
}

/* Desktop */
@media (min-width: 901px) {
  .container {
    padding: 20px;
  }

  .text {
    font-size: 1.2em;
  }

  .title {
    font-size: 2em;
  }

  .image {
    width: 150px;
    margin-right: 20px;
  }

  .rotatingText span {
    height: 50px;
    line-height: 50px;
  }
}
